
 /* DEBUG:  */
.red{
  background-color: red;
}
/*general features*/
.margin_bottom_50{
  margin-bottom: 50px;
}
.margin_bottom_30{
  margin-bottom: 30px;
}
.margin_bottom_20{
  margin-bottom: 20px;
}
.margin_top_30{
  margin-top: 30px;
}
.margin_top_20{
  margin-top: 20px;
}

.size_100{
  width: 100%;
}
.size_40{
  width: 40%;
}
.size_5{
  width: 5%;
}
.size_15{
  width: 15%;
}
.h4_page{
  font-size: 18px;
  font-weight: bold;
}
.p_principal_page{
  font-weight: bold;
  font-size: 20px;
  color: #95a0b5;
}
.p_secondary_page{
  font-weight: bold;
  font-size: 15px;
  color: #95a0b5;
}
.font_size20{
  font-size: 20px;
}
.font_size_25{
  font-size: 25px;
}
.font_size15{
  font-size: 15px;
}
.font_size12{
  font-size: 12px;
}
.font_bold{
  font-weight: bold;
}
.line_height_20{
  line-height: 20px;
}
.padding_50{
  padding: 50px;
}
.padding_30{
  padding: 30px;
}
.padding_top_78{
  padding-top: 78px;
}
.margin_right_15{
  margin-right: 15px;
}
.vertical-aligne_middle{
  vertical-align: middle;
}
.list_style_none{
  list-style: none;
}
.height_200px{
  height: 200px;
}
.font_color_blue{
  color: #005FE6;
}
.font_color_white{
  color: #fff;
}
.font_color_grey{
  color: #f3f5f9;
}
.border_bottom_white{
  border-bottom: 2px solid black;
}
.border_radius_5{
  border-radius: 5px;
}
.background_white{
  background-color: #fff;
}
.background_lightgrey{
  background-color: #f2f3f7;
}
.background_grad{
  background-color: rgba( 8, 29, 92, 100);
}
.background_lightblue{
  background-color: #0069ff;
}
.background_blue{
  background-color: #041d4f;
}
/*header-nav*/
.header-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}
.header-top li a {
  color: #252a97;
  font-size: 16px;
  text-decoration: none;
}
.header-top nav ul li a:hover{
  color: #395ae5;
}
/*jumbo*/
.jumbotron{
  margin-top: 84px;
  padding: 80px 0;
  background-image: url(../img/backgroung_ocean.jpg);
}
#jumbo_box{
  padding: 30px 50px;
}

#p_jumbo{
  font-size: 16px;
  color: #d5d8f1;
}
#title_jumbo{
  font-size: 45px;
  font-weight: bold;
  color: white;
}
#title_blue{
  color: #395ae5;
}
.logo{
  display: inline-block;
  width: calc( (100% / 2) - 4px);
}
@media screen and (min-width: 768px){
  .logo{
    width: calc( (100% / 6) - 4px);
  }
}

/*section deploy*/
.list_deploy{
  display: inline-block;
  padding: 5px;
  list-style:none;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #d5d8f1;
  border-left: 2px solid #d5d8f1;
}
.li_deploy:hover{
  color: #000;
  cursor: pointer;
}
.li_deploy:active{
  border-left: 2px solid #395ae5;
}

@media screen and (max-width: 768px){
  #row_deploy{
    text-align: left;
  }
}
/*section design*/
.design{
  position: relative;
  height: 700px;
}
.rocket-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50% );
  width: 500px;
  height: 300px;
}
.rocket_arrow_left{
  position: absolute;
  bottom: 100px;
  right: 600px;
  font-size: 30px;
  color: #abb4c6;
}
.rocket_arrow_right{
  position: absolute;
  bottom: 100px;
  left: 600px;
  font-size: 30px;
  color: #252a97;
}

#btn_border_blue{
  border: 2px solid #252a97;
  border-radius: 5px;
  background-color: #fff;
  color: #395ae5;
}
#btn_border_blue:hover{
  background-color: #252a97;
  color: #fff;
}
.container-list{
  display:inline-block;
  width: 100%;
  max-width: 400px;
}
.development-box{
  position: relative;
  width: 100%;
  height: 200px;
}
.#dot_{
  width: 200px;
  color: #f2f3f7;
  border-color: #252a97;
}
/*development*/
.conteiner-development{
  position: relative;
  height: 700px;
}
/*footer*/
/*footer-top*/
.footer-top{
  position: relative;
}
.started_now{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
#create_btn{
  color: #005FE6;
}
